name: 5.Remote command Dev

on:
  workflow_dispatch:
    inputs:
      namedev:
        description: 'Type command'
        required: true      
jobs:
  deploy:
    runs-on: munichdev

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set MY_VAR
        run: |
          DEV_URL=${{vars.dev_url}}
          MY_VAR="${DEV_URL}"
          echo "$MY_VAR" # Prints the value before processing
          echo "export MY_VAR=$(echo "$MY_VAR" | tr 'A-Z' 'a-z')" | sudo tee /etc/profile.d/remdev_vars.sh > /dev/null
          sudo chmod +x /etc/profile.d/remdev_vars.sh
          source /etc/profile.d/remdev_vars.sh
          echo "$MY_VAR"
      - name: Execute command in Docker container
        run: |
          source /etc/profile.d/remdev_vars.sh
          echo "$MY_VAR"
          echo '${{ github.event.inputs.namedev }}'
          docker exec "$MY_VAR" bash -c '${{ github.event.inputs.namedev }}'
      
      
     
